.app__body {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    justify-content: center;
}

@media (max-width: 768px) {
    .app__body {
        display: block;
    }
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}